@{
    ViewData["Title"] = "Digital Millenium Copyright Act";
}
<h1>@ViewData["Title"]</h1>
<b>InstanceScans.com</b> respects the intellectual property of others and takes copyright infringement seriously.<br>
We are committed to assisting content owners in managing the publication of their content online while promoting the awareness and retention of copyright.<br>
We do not publish the complete books' files that are under copyright protection on our website. We do not support or endorse digital piracy.<br><br>

The fragments of books on our website are added by users for the enjoyment of other users and not for commercial benefit.<br>
While we make efforts to monitor and moderate the content, we may not be able to constantly control all user-contributed fragments.<br>
If you believe that certain fragments on our website violate the author's rights, please contact us.<br><br>

If you are a copyright owner and believe that your copyrighted work has been infringed upon in a manner that constitutes copyright<br>
infringement and is accessible on our site, you may notify our designated copyright agent in accordance with the Digital Millennium Copyright Act of 1998 (DMCA). <br><br>

To make a valid DMCA complaint, please provide the following information:<br><br>

<ol>
    <li>A physical or electronic signature of a person authorized to act on behalf of the copyright owner.</li>
    <li>Identification of the copyrighted work claimed to have been infringed.</li>
    <li>Identification of the material that is claimed to be infringing or to be the subject of the infringing activity and that is to be removed. <br>
        Please provide specific URLs or descriptions of the infringing material.</li>
    <li>Information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an email address.</li>
    <li>A statement that you have a good faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law.</li>
    <li>A statement that the information provided in the notification is accurate, and under penalty of perjury, <br>
        that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ol>

Please send the DMCA notice to our designated copyright agent:<br><br>
Vladislav Melnik<br>
vladislav.melnik@gmail.com<br>
+38-050-000-00-00<br><br>

Please note that this information is provided for the purpose of notifying us of alleged copyright infringement. <br>
It does not constitute legal advice or establish an attorney-client relationship. <br>
We appreciate your cooperation and will take appropriate action in response to valid DMCA notices.<br><br>

Thank you for your understanding.<br><br>

Sincerely, InstanceScans.com<br><br><br>