@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    
    <br>At <b>InstanceScans.com</b> we value and prioritize the privacy of our users.<br>
    This Privacy Policy outlines the types of personal information we collect, how we use it, and how we protect your information while you interact with our website.<br>
    We recommend that you read this policy carefully to understand our practices regarding your personal information.<br><br>
   
    <b>Information We Collect:</b><br><br>

    When you visit our website, we may collect certain personally identifiable information, <br>
    such as your name, email address, and contact information. <br>
    We only collect this information when you voluntarily provide it to us through forms or when you interact with our website's features.<br>
    Non-Personal Information: <br>
    We may also collect non-personal information, such as your IP address, browser type, device information, <br>
    and other anonymous statistical data that does not personally identify you.<br><br>

    <b>Usage of Collected Information:</b><br><br>

    We use the personal information you provide to communicate with you, respond to your inquiries or requests, and improve our services. <br>
    We may also use your information to send you newsletters, updates, or promotional materials related to our website, but only if you have given us your consent.<br>
    Non-Personal Information: Non-personal information is collected for the purpose of analyzing trends, administering the website, tracking users' movements, <br>
    and gathering demographic information for internal use. This data helps us enhance the user experience and improve our services.<br><br>
    
    <b>Cookies and Tracking Technologies:</b><br><br>

    We use cookies and similar tracking technologies to collect information and enhance your browsing experience. <br>
    Cookies are small text files stored on your device that help us recognize you and understand how you interact with our website. <br>
    You can control cookies through your browser settings, but please note that disabling cookies may limit certain features of our website.<br><br>
   
    <b>Data Security:</b><br><br>

    We implement appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. <br>
    However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.<br><br>
    
    <b>Third-Party Links:</b><br><br>

    Our website may contain links to third-party websites or services that are not owned or controlled by us. <br>
    We are not responsible for the privacy practices or content of these websites. <br>
    We encourage you to review the privacy policies of those third parties before providing any personal information.<br><br>
    
    <b>Children's Privacy:</b><br><br>

    Our website is not intended for children under the age of 13. We do not knowingly collect personal information from children. <br>
    If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, <br>
    and we will promptly remove such information from our records.<br><br>
    
    <b>Changes to this Privacy Policy:</b><br><br>

    We reserve the right to update or modify this Privacy Policy at any time. <br>
    Any changes will be reflected with a revised date at the top of this page. <br>
    We encourage you to review this policy periodically to stay informed about how we collect, use, and protect your information.<br><br>
   
    <b>Contact Us:</b><br><br>

    If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal information, please contact us at <b>InstanceScans@gmail.com</b>.<br>
    By using our website, you acknowledge that you have read and understood this Privacy Policy and agree to the collection, use, and disclosure of your personal information as described herein.<br>
</p>
